.footer-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7b838a !important;
  text-align: center;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  letter-spacing: 2px;
}
